<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <title>Customer Master Inquiry</title>
  <link rel="shortcut icon" href="../../global/css/images/images.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../global/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../global/css/style_et_1.css">
  <link rel="stylesheet" href="../../global/libs/jquery/jquery-ui.css">

  <script src="../../global/libs/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="../../global/libs/jquery/jquery-ui.js" type="text/javascript"></script>
  <script src="../../global/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../global/libs/underscore/underscore.js" type="text/javascript"></script>
  <script src="../../global/libs/jquery/jquery-validation.js" type="text/javascript"></script>
  <script src="../../global/libs/jquery/jquery_modal.js" type="text/javascript"></script>
  <script src="../../global/libs/jquery/xlsx.full.min.js" type="text/javascript"></script>
  <script src="../../global/global_exp1.js" type="text/javascript"></script>
  <script src="../../global/properties.js" type="text/javascript"></script>

  <script src="scripts/customerinq.js"></script>
</head>

<style>
  body {
    margin: 0;
    height: 100%;
  }

  .btn.dropdown-toggle::after {
    display: none !important;
  }
</style>

<body>

  <nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center mainNav">
      <div class="d-flex align-items-center">
        <a class="navbar-brand m-0" href="../home.html">
          <img src="../../global/css/images/logo2.png" alt="Logo" height="40">
        </a>
        <i class="material-icons ml-2" style="cursor:pointer;font-size: 28px; color:white;" onclick="collapseMenu()">menu</i>
      </div>

      <div>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userName">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" onclick="functionLogout()">Logout</a>
          </div>
          <img src="" id="profilePicture" style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
        </div>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-2 sideMenuDivCol">
      <div id="menuContainer" style="overflow-y:auto;">
        <script type="text/template" id="menuTmpl">
          <%_.each(parentFeatures, function(item, index){ %>
            <table class="menuTable" id="menuTable" style="width:100%; overflow-y:auto;">
              <tr class="menuTr" id="menuTr">
                <td class="menuTd" id="menuTd" width="10%" onclick="linkPage('<%= item.feature_url %>')"><i class="material-icons"><%= item.icon %></i></td>
                <td class="menuTd" id="menuTd" width="90%" onclick="linkPage('<%= item.feature_url %>')"><%= (item.feature_name) %></td>
                <% if(item.childFeatures != null && item.childFeatures != undefined && item.childFeatures != ""){%>
                  <td class="menuTd" id="menuTd" width="1%" onclick="linkPage('<%= item.feature_url %>')"><i class="material-icons">arrow_drop_down</i></td>
                <% }%>
              </tr>

              <% if(item.childFeatures != null && item.childFeatures != undefined && item.childFeatures != ""){%>
                <%_.each(item.childFeatures, function(oitem, index){ %>
                  <tr class="menuTr" id="menuTr">
                    <td class="submenuTd" id="submenuTd" width="10%" onclick="linkPage('<%= oitem.feature_url %>')"></td>
                    <td class="submenuTd" id="submenuTd" width="90%" onclick="linkPage('<%= oitem.feature_url %>')"><%= oitem.feature_name %></td>
                    <td class="submenuTd" id="submenuTd" width="1%" onclick="linkPage('<%= oitem.feature_url %>')"></td>
                  </tr>
                <% }); %>
              <% }%>
            </table>
          <% }); %>
        </script>
      </div>
    </div>

    <div class="col-sm-10 mainDiv">
      <div class="sectionDivHead">
        <table width="98%">
          <tr>
            <td class="mainTblHdr">Customer Master:</td>
          </tr>
        </table>

        <table width="99%">
          <tr>
            <td width="18%" style="vertical-align:bottom;">
              <div class="form-group" style="margin-bottom:none;">
                Customer Code:
                <input type="text" id="customerCodeSearch" name="customerCodeSearch">
              </div>
            </td>

            <td width="2%"></td>

            <td width="22%" style="vertical-align:bottom;">
              <div class="form-group" style="margin-bottom:none;">
                Customer Name:
                <input type="text" id="customerNameSearch" name="customerNameSearch">
              </div>
            </td>

            <td width="2%"></td>

            <td width="12%" style="vertical-align:bottom;">
              <div class="form-group" style="margin-bottom:none;">
                Status:
                <select id="statusSearch" name="statusSearch">
                  <option value="">ALL</option>
                  <option value="Y">Active</option>
                  <option value="N">Inactive</option>
                </select>
              </div>
            </td>

            <td width="2%"></td>

            <td width="20px" style="vertical-align:middle;">
              <input type="button" value="Search" onclick="search()" class="search">
            </td>

            <td width="30%"></td>

            <td width="20px" style="vertical-align:middle;text-align:right;">
              <div class="tooltip-wrapper">
                <input type="button" value="Add Customer" onclick="addCustomer()" class="search">
                <div class="tooltip-text">Add new customer</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <br>

      <div class="sectionDiv">
        <div id="listContainer2" class="tempalte">
          <script type="text/template" id="listTmpl">
            <table style="width:100%;" class="dataTbl">
              <tr>
                <th width="8%">Code</th>
                <th width="13%">Customer Name</th>
                <th width="8%">Type</th>
                <th width="10%">Contact Person</th>
                <th width="8%">Phone</th>
                <th width="12%">Email</th>
                <th width="8%">GST</th>
                <th width="8%">City</th>
                <th width="8%">State</th>
                <th width="6%">Status</th>
                <th width="3%">Edit</th>
                <th width="3%" style="text-align:center;">Del</th>
              </tr>

              <%_.each(customers, function(item){ %>
                <tr>
                  <td><b><%= item.customer_code || '' %></b></td>
                  <td><%= item.customer_name || '' %></td>
                  <td><%= item.customer_type || '' %></td>
                  <td><%= item.contact_person || '' %></td>
                  <td><%= item.phone || '' %></td>
                  <td><%= item.email || '' %></td>
                  <td><%= item.gst_no || '' %></td>
                  <td><%= item.city || '' %></td>
                  <td><%= item.state || '' %></td>
                  <td><%= item.is_active === 'N' ? 'Inactive' : 'Active' %></td>
                  <td onclick="editCustomer(<%= item.customer_id %>)">
                    <div class="tooltip-wrapper"><i class="material-icons">edit</i><div class="tooltip-text">Edit Customer</div></div>
                  </td>
                  <td style="text-align:center;" onclick="deleteCustomer(<%= item.customer_id %>)"><i class="material-icons" style="color: red;">delete_forever</i></td>
                </tr>
              <% }); %>
            </table>
          </script>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
